/* EASING FUNCTION FORM CEASER ( http://matthewlein.com/ceaser/ )*/
/* DEFAULT */
$default: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$easeIn: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$easeOut: cubic-bezier(0.000, 0.000, 0.580, 1.000);
/* EASE IN */
$easeInOut: cubic-bezier(0.420, 0.000, 0.580, 1.000);
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
/* EASE OUT */
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
/* EASE IN OUT */
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
/* EASING FUNCTION FORM CEASER ( http://matthewlein.com/ceaser/ )*/
/* MEDIA QUERIES MIXINS */
$xx-large-display: 120.0625em;
$x-large-display: 90.0625em;
$large-display: 64.0625em;
$medium-display: 40.0625em;

@mixin xx-large {
  @media only screen and (min-width: #{$xx-large-display}) {
    @content;
  }
}

@mixin x-large {
  @media only screen and (min-width: #{$x-large-display}) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: #{$large-display}) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: #{$medium-display}) {
    @content;
  }
}

@mixin medium-landscape {
  @media only screen and (min-width: #{$medium-display}) and (orientation: landscape) {
    @content;
  }
}

@mixin medium-portrait {
  @media only screen and (min-width: #{$medium-display}) and (orientation: portrait) {
    @content;
  }
}
/* MEDIA QUERIES MIXINS */
